.lists{
    /* margin-bottom: 10px; */
    /* align-self: flex-start; */
    padding-left: 45%;
    font-size: 80px;
    height: 4vh;
    /* padding-bottom: 10px; */
    /* max-height: 100px; */
}


#skills {
  scroll-margin-top: 100px;
  /* margin-top: -15px; */
}

.about-skills{
    grid-template-columns: repeat(3,0.3fr);
    display: grid;
    /* align-items: center; */
    justify-items: center;
    border-radius: 12px;
    /* width: 100px; */
    gap: 20px;
    /* margin-bottom: 20px; */
    cursor: pointer;
    /* min-height: 70vh; */
    margin-top: 70px;
    padding-left: 40px;
}


.about-skill{
    
    display: grid;
    flex-direction: column;
    /* margin: 0px; */
    gap:0px;
    align-items: center;
    margin-top: 0px;
}


.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}


.about-skill img{
/* object-fit:contain; */
gap: 10px;
width: 150px;
height: 150px;
/* max-width: 70%;
height: auto; */
padding-bottom:20%;
margin-bottom: 0px;
grid-template-columns: repeat(3,0.5fr);
}

.about-skill p{
    font-size: 30px;
    margin-left: 40px;
    padding-bottom: 10px;
    margin-top: -20px;
}

.about-achievements{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    margin-top: 80px;

}

.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    transition: 0.1s;

}

.about-achievement h1{
    font-weight: 600;
    margin-top: -60px;
    cursor: pointer;

}

.about-achievement p{
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    
}

.separator {
  width: 2px;
  height: 70px;
  background-color: white; 
  margin-top:-60px;
  
}

.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.3s;
}

