/* .about{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-top:7px;
    min-height: auto;
    box-sizing: border-box;
    padding-bottom: 80px;

} */

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    padding: 0px 20px;
    box-sizing: border-box;
    min-height: 76vh;
}

.about-title{
    position: relative;
}

.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 500;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
}

.about-title img{
    position:absolute;
    z-index: -1;
    bottom: 0;
    width: 400px;
    height: 80px;
    margin: 55px;
   margin-bottom: 10px;
   /* margin-top: 100px; */
   opacity: 0.4;
}

about-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}


.about-left{
    display: flex;
    gap: 20px;
}

/* .about-left img{
    position: static;
    top: 600px;
    border-radius: 40px;
    width: 250px;
    height: 250px;
    margin: 40px;
    margin-top: 40px;
} */

.about-left img {
    position: static;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    border-radius: 40px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    
}

/* .para{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
} */

.para {
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
    line-height: 30px;
    font-size: 20px;
}

#about {
  scroll-margin-top: 80px;
}

@media(max-width:768px){

    .about{
        gap: 20px;
        margin: 0 !important;
        padding: 0 20px;
        align-items: center;
    }

    .about-title h1{
        font-size: 45px;
        padding: 0;
        margin-left: 0 auto;
        text-align: center;
    }

    .about-title img{
        width: 250px;
        height: 60px;
        margin: 0 ;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        opacity: 0.4;
        position: absolute;
    }

    .about-sections{
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .about-right{
        margin-top: 0;
        gap: 20px;
    }

    .para{
        width: 95%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 28px;
    }
}
