.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    /* margin-top: -100px; */
    padding-top:10px;
    min-height: 190vh;
    box-sizing: border-box;
    /* height: 150vh; */

}

.about-title{
    position: relative;
    /* margin-top: 20px; */

}

.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 500;
    color: whitesmoke;
    margin-left: 50px;
}

.about-title img{
    position:absolute;
    z-index: -1;
    bottom: 0;
    width: 400px;
    height: 80px;
    margin: 55px;
   margin-bottom: 10px;
   /* margin-top: 100px; */
   opacity: 0.4;
}

.about-sections{
    display: grid;
    gap: 80px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.about-left{
    display: flex;
    gap: 20px;
}

.about-left img{
    position: absolute;
    top: 600px;
    border-radius: 40px;
    width: 250px;
    height: 250px;
    margin: 40px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    
}

.para{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    width: 70%;
    margin-top: -15px;
    font-family: outfit;
    margin-left: 220px;
}

#about {
  scroll-margin-top: 80px;
}

@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 600px 70px;
        align-items: start;
    }
    .about-title h1{
         font-size: 45px;
         padding: 0;
    }
     about-title img{
         padding: 30px 40px;
    }
    about-sections{
         flex-direction: display;
    }
    about-title right{
         display: none;
    }
    about-title p{
         font-size: 18px;
         line-height: 80px;
        margin-right: 20px;
          }
}