.mywork{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: -40px;
    flex-direction: column;
}

.mywork-title{
    position: relative;
    margin-top: 90px;
}

.mywork-title h1{
    margin-bottom: 40px;
    font-size: 60px;
    /* font-weight: 500; */

}

.mywork-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.mywork-container img{
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    transition: 0.3s ;
    cursor: pointer;
}

.mywork-container img:hover{
    transform: scale(1.2);
    border-radius: 20px;
    border: 3px solid violet;
    transition: 0.3s;
}