.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 170px;
    height: 60vh;
    padding-top: 160px;
}

.contact-title{
    position: relative;
}

.contact-title h1{
        text-align: center;
        font-size: 65px;
}

.contact-section{
    display: flex;
    gap: 20px;
    padding-right: 350px;
    margin-top: 40px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 200px;
    margin-top: -40px;
}

.contact-left h1{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    font-size: 18px;
}

.contact details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

/* .contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
} */

.contact-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 70px;
    margin-top: -38px;
}

.contact-right label{
    color: #d8d8d8;
    font-size: 20px;
    font-weight: 400;
}

.contact-right input{
    border: none;
    width: 500px;
    height: 60px;
    padding-left: 30px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    background: #32323c;
    color: #a0a0a0;

}

.contact-right textarea{
    width: 500px;
    border: none;
    padding: 25px;
    border-radius: 8px;
    background: #32323c;
    color: #a0a0a0;
    font-family: 'Courier New', Courier, monospace;
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 30px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    cursor: pointer;
    transition:0.3s;
    width: 30%;
    margin-left: 180px;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.85;
}

#contact {
  scroll-margin-top: 100px;
}