*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  color: white; 
  position: fixed; 
  top: 0; 
  left: 0; 
  padding: 15px 40px; 
  z-index: 1000; 
  background-color: black; 
}

.name {
  line-height: 1;
  font-size: 50px;
  margin-left: 60px;
  font-family: "Parisienne";
  font-style: oblique;
  position: fixed;
}

/* ✅ Center nav menu */
.nav-menu {
  display: flex;
  position: fixed;
  /* bottom: 20px; */
  top: 10px;
  left: 55%;
  right: 30px;
  flex-direction: row;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 15px 30px;
  border-radius: 10px;
  list-style: none;
  /* text-align: right; */
    transform: translateX(-50%);
  animation: fadeIn 0.3s ease-in-out;
  /* align-items: center; */
  /* justify-content: center; */
  z-index: 2000;
}

.nav-menu.open {
  display: flex;
}

/* ✅ Button on right */
.nav-connect {
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.36%);
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  /* margin-left: -200px;
  margin-right: 45px; */
}

.nav-connect:hover{
    transform: scale(1.05);
}

.anchorlink{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.anchorlink:hover{
  color: #d18fff;
}

/* .menu-icon{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
} */

.menu-icon {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  /* height: 40px;
  width: 40px; */
  z-index: 2000;
  color: white;
  user-select: none;
}

.bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  transition: all 0.3s ease;
}


@media (max-width:760px) {
  .nav-menu{
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 60%;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0,0,0,0.95);
    padding: 20px 0;
    /* text-align: center; */
    border-radius: 10px;
   }

   .nav-menu.open {
    display: flex;
  }

  .menu-icon {
    display: flex;
    /* margin-left: auto;
    margin-right: 30px; */
  }

  .nav-connect {
    display: none;
  }

  .name {
    font-size: 38px;
    margin-left: 30px;
  }
}


/* @media (max-width: 760px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 20px 0;
    text-align: center;
  }

  .nav-menu.open {
    display: flex;
  }
} */