.man{
    margin-top: 20px;
    padding-left: 20px;
    width: 200px;
    height: 200px;
}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
    height: 100vh;
    box-sizing: border-box;
}

.hero h1 {
   font-size: 50px;
    text-align: center;
    width: 70%;
}

.hero h1 span{
    background: linear-gradient(270deg,#DF8908 10%, #B415FF 106.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
}

.hero p{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    width: 70%;
    margin-top: -20px;
    font-family: outfit;

}

.hero-action{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-top: -10px;
}

/* .hero-connect{
    padding: 10px 30px;
  border-radius: 30px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.36%);
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: 0.5s;
} */

.nav-connect {
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.36%);
  font-size: 22px;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  border: 2px solid white;
  /* margin-left: -200px;
  margin-right: 45px; */
  text-decoration: none;
}

.hero-resume{
    padding: 13px 30px;
    border-radius: 30px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.36%);
    color: white;
    border: 2px solid white;
    text-decoration: none;
    display: inline-flex;
    cursor: pointer;
    transition: 0.5s;
}

.hero-connect:hover{
    border: 2px solid white;
}

.hero-resume:hover{
    /* border-color: #B415FF; */
    transform: scale(1.05);
}

@media (max-width:768px){
    .hero img{
        margin-bottom: 120px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;

    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;

    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}
